#hero h1, #hero h2 {
	font-family: 'Edo SZ';
	font-weight: normal;
	font-size: 4em;
}

#banner2 h1 {
	font-family: 'Edo SZ';
	font-weight: normal;
	font-size: 80px;
}

#main .inner-page{
	background-color: #ffffff;
	background-image: url("../img/bg-body.jpg");
	background-position: left top;
	background-size: auto;
	background-repeat: repeat;
	background-attachment: scroll;
	color: #333 !important;
}

.page-container{
	background-color: #ffffff;
	padding: 10px 0;
}

.form-group.required label:after {
  content:"*";
  color:red;
}

.alert-error { 
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.bootbox{
	color: #212529;
}
.btn-feature {
    color: #fff;
    background: #333;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}
.btn-feature:hover {
    color: yellow;
}
.btn-feature.active{
    color: yellow;
}